{% block body %}
    <hr>
    <h3>Voici le graphique de répartition du chiffre d'affaire</h3>
    <canvas id="GraphCA"></canvas>
    <hr>
    <h3>Voici le graphique de répartition du résultat d'exploitation</h3>
    <canvas id="GraphPartageRichesse"></canvas>
    <p>La somme de toutes les barres correspond au résultat d'exploitation.</p>
    <p>La participation indique combien les salarié⋅es ont touché globalement en
      "<a href="https://www.service-public.fr/particuliers/vosdroits/F2141">prime de participation aux bénéfices de l'entreprise</a>"</p>
    <p>Les impôts indiquent combien l'entreprise a payé d'<a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F23575">Impôt sur les bénéfices des sociétés</a>. Un impôt négatif signifie que l'entreprise à une créance sur l'État, probablement grace aux multiples niches fiscales sous forme de crédit d'impôt</p>
    <p>Le 'résultat financier et exceptionnel' est la somme des pertes et gains financiers (intérêts payés et dividendes perçus par exemple), additionée à la somme des pertes et gains exceptionnels. Il faut regarder les détails du 'compte de résultat' pour vraiment en comprendre l'origine, mais il peut globalement être interprété comme suit : s'il est positif, cela veut dire que l'entreprise a perdu de l'argent vis à vis du système financier, et/ou de ses créanciers et/ou en spéculant. S'il est négatif, c'est qu'elle en a gagné.<p>
    <p>Le résultat pour les propriétaires de l'entreprise correspond à l'argent qui reste pour l'entreprise à la fin de son année d'exploitation. L'entreprise appartenant à ses propriétaires, cet argent leur appartient.</p>
    {% block javascripts %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <script>
      var colors = ["#4d4040",
                    "#c36c40",
                    "#95c15a",
                    "#90b6b7",
                    "#7c50ba",
                    "#c35d90"];

      var xLabels = [];

      var CA = [];
      var subventions = [];
      var achatMarchandises = [];
      var variationStockMarchandises = [];
      var achatMatierePremiereAutreAppro = [];
      var variationStockMatierePremiereAutreAppro = [];
      var autresAchatEtChargesExterne = [];
      var taxes = [];
      var salaires = [];
      var cotisationSociale = [];
      var autreCharges = [];

      var resultatExploitation = [];
      var resultatFinancier = [];
      var resultatExceptionnel = [];

      var Participation = [];
      var ImpotsSurLesSocietes = [];

      var resultatPourProprietaire = [];
      var resultatExceptionnelEtFinancier = [];

      {% for comptesDeResultat in corporate.ComptesDeResultats %}
        xLabels.push({{ comptesDeResultat.year }});

        CA.push({{ comptesDeResultat.ChiffresAffairesNet}});
        subventions.push({{ comptesDeResultat.SubventionsExploitation }});

        achatMarchandises.push({{ comptesDeResultat.AchatsDeMarchandises }});
        variationStockMarchandises.push({{ comptesDeResultat.VariationStockMarchandise}});
        achatMatierePremiereAutreAppro.push({{ comptesDeResultat.AchatMatierePremiereAutreAppro}});
        variationStockMatierePremiereAutreAppro.push({{ comptesDeResultat.VariationStockMatierePremiereEtAppro}});

        taxes.push({{ comptesDeResultat.ImpotTaxesEtVersementsAssimiles }});
        salaires.push({{ comptesDeResultat.SalairesEtTraitements}});
        cotisationSociale.push({{ comptesDeResultat.ChargesSociales}});

        resultatExploitation.push({{ comptesDeResultat.ResultatExploitation }});

        resultatFinancier.push({{ comptesDeResultat.ResultatFinancier }});
        resultatExceptionnel.push({{ comptesDeResultat.ResultatExceptionnel }});
        Participation.push({{ comptesDeResultat.ParticipationSalariesAuxResultats }});
        ImpotsSurLesSocietes.push({{ comptesDeResultat.ImpotsSurLesBenefices }});

      {% else %}
      <li> Pas de comptes de résultats trouvé</li>
      {% endfor %}

      var factorCA = 1;
      var unitCA = '€';
      if (CA[0] > 10000000){
        var factorCA = 1000000;
        var unitCA = 'millions d\'€';
      }
      else if (CA[0] > 30000) {
        var factorCA = 1000;
        var unitCA = 'milliers d\'€';
      }

      var factor = 1;
      var unit = '€';
      if (resultatExploitation[0] > 3000000 || resultatExploitation[0] < -3000000){
        var factor = 1000000;
        var unit = 'millions d\'€';
      }
      else if (resultatExploitation[0] > 30000 || resultatExploitation[0] < -100000) {
        var factor = 1000;
        var unit = 'milliers d\'€';
      }

      var autreChargesMoinsAutresProduitsAffiches = [];
      var taxesMoinsSubventions = [];
      var marchandisesTotalAfficher = [];
      for(var i = 0; i < xLabels.length; i++){
          // Mise en forme des données du graphe sur le CA
          taxesMoinsSubventions.push(taxes[i] - subventions[i]);
          marchandisesTotalAfficher.push(achatMarchandises[i] + variationStockMarchandises[i] + achatMatierePremiereAutreAppro[i] + variationStockMatierePremiereAutreAppro[i]);
          autreChargesMoinsAutresProduitsAffiches.push(CA[i] - salaires[i] - cotisationSociale[i] - taxesMoinsSubventions[i] - marchandisesTotalAfficher[i] - resultatExploitation[i]);

          // Mise en forme des données sur le graphe de la répartition du résultat d'exploitation
          resultatPourProprietaire.push(resultatExploitation[i] + resultatFinancier[i] + resultatExceptionnel[i] - Participation[i] - ImpotsSurLesSocietes[i]);
          resultatExceptionnelEtFinancier.push(-resultatFinancier[i] - resultatExceptionnel[i]);

          // Application du ratio pour l'affichage du graphe sur le CA
          salaires[i] = Math.round(1000 * salaires[i] / factorCA) / 1000;
          cotisationSociale[i] = Math.round(1000 * cotisationSociale[i] / factorCA) / 1000;
          taxesMoinsSubventions[i] = Math.round(1000 * taxesMoinsSubventions[i] / factorCA) / 1000;
          marchandisesTotalAfficher[i] = Math.round(1000 * marchandisesTotalAfficher[i] / factorCA) / 1000;
          autreChargesMoinsAutresProduitsAffiches[i] = Math.round(1000 * autreChargesMoinsAutresProduitsAffiches[i] / factorCA) / 1000;
          resultatExploitation[i] = Math.round(1000 * resultatExploitation[i] / factorCA) / 1000;

          // Application du ratio pour l'affichage du graphe sur le résultat d'exploitation
          Participation[i] = Math.round(1000 * Participation[i] / factor) / 1000;
          ImpotsSurLesSocietes[i] = Math.round(1000 * ImpotsSurLesSocietes[i] / factor) / 1000;
          resultatPourProprietaire[i] = Math.round(1000 * resultatPourProprietaire[i] / factor) / 1000;
          resultatExceptionnelEtFinancier[i] = Math.round(1000 * resultatExceptionnelEtFinancier[i] / factor) / 1000;
      }

      var CAChartData = {
      	labels: xLabels,
      	datasets: [{
      		label: 'Salaires Bruts',
      		backgroundColor: colors[5],
      		data: salaires
      	}, {
      		label: 'Cotisations Sociales',
      		backgroundColor: colors[1],
      		data: cotisationSociale
      	}, {
      		label: 'Taxes diverses retranchées des subventions',
      		backgroundColor: colors[2],
      		data: taxesMoinsSubventions
      	}, {
      		label: 'Achat de marchandises, matières premières et autre approvisionnement',
      		backgroundColor: colors[0],
      		data: marchandisesTotalAfficher
      	}, {
      		label: 'Autres charges retranchées des autres produits',
      		backgroundColor: colors[3],
      		data: autreChargesMoinsAutresProduitsAffiches
      	}, {
      		label: 'Résultat d\'exploitation (marge de l\'entreprise)',
      		backgroundColor: colors[4],
      		data: resultatExploitation
      	}]
      };

      new Chart(document.getElementById('GraphCA').getContext('2d'), {
      	type: 'bar',
      	data: CAChartData,
      	options: {
      		title: {
      			display: true,
      			text: 'Répartition de l\'utilisation du CA de {{ corporate.name }}'
      		},
      		tooltips: {
      			mode: 'index',
      			intersect: false
      		},
      		responsive: true,
      		scales: {
      			xAxes: [{
      			    scaleLabel:{
      	                display:true,
      	                labelString: 'Année'
      	            },
      				stacked: true,
      			}],
      			yAxes: [{
      		        scaleLabel:{
      		            display:true,
      		            labelString: unitCA
      		        },
      				stacked: true
      			}]
      		}
      	}
      });

      var ResultatExploitationChartData = {
      	labels: xLabels,
      	datasets: [{
      		label: 'Participation',
      		backgroundColor: colors[5],
      		data: Participation
      	}, {
      		label: 'Impôts',
      		backgroundColor: colors[2],
      		data: ImpotsSurLesSocietes
      	},{
      		label: 'Résultat pour les propriétaires de l\'entreprise',
      		backgroundColor: colors[4],
      		data: resultatPourProprietaire
      	}, {
      		label: 'Résultat financier et exceptionnel',
      		backgroundColor: colors[3],
      		data: resultatExceptionnelEtFinancier
      	}]
      };

      new Chart(document.getElementById('GraphPartageRichesse').getContext('2d'), {
      	type: 'bar',
      	data: ResultatExploitationChartData,
      	options: {
      		title: {
      			display: true,
      			text: 'Répartition du résultat d\'exploitation de {{ corporate.name }}'
      		},
      		tooltips: {
      			mode: 'index',
      			intersect: false
      		},
      		responsive: true,
      		scales: {
      			xAxes: [{
      			    scaleLabel:{
      	                display:true,
      	                labelString: 'Année'
      	            },
      				stacked: false,
      			}],
      			yAxes: [{
      			    scaleLabel:{
      	                display:true,
      	                labelString: unit
      	            },
      				stacked: false
      			}]
      		}
      	}
      });
      </script>
     {% endblock %}
{% endblock %}
