{% extends 'base.html.twig' %}

{% block title %}Hello {{ corporate }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  var corporationURL = "{{ corporate.OpenCorporateURL }}";
  var apiURL = corporationURL.replace(new RegExp("^https://"), "https://api.");

  $.get(apiURL,
        function(serverData, status){
          openCorporationData = serverData.results.company;
          $("#DataFromOpenCorporateFacts").append("<h2>Data retrieved from <a href=\"https://opencorporates.com\">OpenCorporates.com</a></h2>");
          $("#DataFromOpenCorporateFacts").append(
          "<ul><li>Name : " + openCorporationData.name + "</li>"
          + "<li>Jurisdiction Code : " + openCorporationData.jurisdiction_code + "</li>"
          + "<li>Incorporation date : " + openCorporationData.incorporation_date + "</li>"
          + "<li>Company Type : " + openCorporationData.company_type + "</li>"
          + "<li>Number of employees: " + openCorporationData.number_of_employees + "</li>"
          + "<li>Registered address: " + openCorporationData.registered_address_in_full + "</li>"
          + "<li>Industry codes :<ul>");

          var industryCodesLength = openCorporationData.industry_codes.length;
          for (var i = 0; i < industryCodesLength; i++) {
             var industryCode = openCorporationData.industry_codes[i].industry_code;
             $("#DataFromOpenCorporateFacts").append("<li>" + industryCode.description + "(" + industryCode.code + ")</li>");
          }
          $("#DataFromOpenCorporateFacts").append("</ul></li></ul>");
          console.log(serverData);
        },
        "json");
});
</script>

<div class="example-wrapper">
    <h1>Here are the information about {{ corporate.Name }}</h1>
    <a href="{{ url('homepage') }}">Retour à l'accueil</a>
    <ul>
      <li> Company Number : {{ corporate.CompanyNumber }}</li>
      <li> Name : {{ corporate.Name }}</li>
      <li> link on OpenCorporates.com : <a href="{{ corporate.OpenCorporateURL }}">{{ corporate.OpenCorporateURL }}</a></li>
    </ul>
    <div id="DataFromOpenCorporateFacts"></div>

    {% if corporate.shareholdings is not empty or corporate.CorporateShareholders is not empty %}
      {{ include('corporate/CorporationsGraph.html.twig', { 'corporate': corporate }) }}
    {% endif %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
{% if corporate.ComptesDeResultats is not empty %}
  {{ include('compte_de_resultat/treeview.html.twig', { 'compteDeResultat': corporate.ComptesDeResultats[0] }) }}

  {{ include('corporate/Graphics.html.twig', { 'corporate': corporate }) }}
{% endif %}


</div>
{% endblock %}
