{% extends 'base.html.twig' %}
{% block title %}OCF: {{ corporate }}!{% endblock %}


{% block body %}
<div class="example-wrapper">
    <h1>Here are the information about {{ corporate.Name }}</h1>
    <a href="{{ url('homepage') }}">Retour à l'accueil</a>
    <ul>
      <li> Company Number : {{ corporate.CompanyNumber }}</li>
      <li> Name : {{ corporate.Name }}</li>
      <li> link on OpenCorporates.com : <a href="{{ corporate.OpenCorporateURL }}">{{ corporate.OpenCorporateURL }}</a></li>
    </ul>

    {{ include('corporate/OpenCorporateDataVisualization.html.twig') }}

    {% if corporate.shareholdings is not empty or corporate.CorporateShareholders is not empty %}
      {{ include('corporate/CorporationsGraph.html.twig', { 'corporate': corporate }) }}
    {% endif %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
{% if corporate.ComptesDeResultats is not empty %}
  {{ include('compte_de_resultat/treeview.html.twig', { 'compteDeResultat': corporate.ComptesDeResultats[0] }) }}
  {{ include('corporate/Graphics.html.twig', { 'corporate': corporate }) }}
{% elseif corporate.documentDeReferences is not empty %}
  {{ include('corporate/DocumentDeReferenceGraphic.html.twig', { 'corporate': corporate }) }}
{% endif %}

</div>
{% endblock %}
