{% extends 'base.html.twig' %}

{% block title %}Welcome to OpenCorporateFacts!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to OpenCorporateFacts</h1>
    <h2>What is OCF ?</h2>
    <p>A 2019 project for making the corporate world - starting with France - more transparent, notably on the revenue split between work and capital, that consists of :
<ul>
  <li>a database built from open data sets and other publicly available sources by members of Code For France and other contributors;</li>
  <li>a tool allowing users to visualize data, compare between companies, and contribute to improve the data and the database.</li>
</ul>

<h2>What you can find in OCF (at this stage)</h2>
<ul>
  <li>open information on companies, through existing administrative datasets (INSEE/INPI), that have been checked and refined to make them usable;</li>
  <li>data that were collected through other publicly available sources, such as shareholders’ reports and information.</li>
</ul>
<h2>Use Open Corporate Facts</h2>
  <p>Browse companies of your choice :
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
<p>Il y a actuellement {{ bilanComptableCount }} bilans comptables, et {{ companyCount }} entreprises en base</p>
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
<p>Top 100 des plus gros chiffres d'affaires en base!</p>
<p>Click the <strong>table headers</strong> to sort the table accordingly:</p>

<table id="globalTable" class="w3-table-all">
  <tr>
    <th>Entreprise</th>
    <th onclick="sortTable(1)" style="cursor:pointer">Année</th>
    <th onclick="sortTable(2)" style="cursor:pointer">Chiffre d'affaire</th>
    <th onclick="sortTable(3)" style="cursor:pointer">Bénéfices</th>
    <th onclick="sortTable(4)" style="cursor:pointer">Impôts sur les bénéfices</th>
    <th onclick="sortTable(5)" style="cursor:pointer">Prime de participation</th>
    <th onclick="sortTable(6)" style="cursor:pointer">Effectifs</th>
  </tr>

  {% for i in 0..99 %}
    <tr class="item">
      <td><a href="{{ url('corporate_show', {'id': comptes[i].Corporate.Id}) }}">{{ comptes[i].Corporate }}</a></td>
      <td>{{ comptes[i].year }}</td>
      <td>{{ comptes[i].ChiffresAffairesNet}}</td>
      <td>{{ comptes[i].Benefice}}</td>
      <td>{{ comptes[i].ImpotsSurLesBenefices }}</td>
      <td>{{ comptes[i].ParticipationSalariesAuxResultats }}</td>
      <td>{{ comptes[i].EffectifsMoyens }}</td>
    </tr>
  {% else %}
  <tr class="item">
    <td>Pas trouvé :'-(</td>
    <td>Pas trouvé :'-(</td>
    <td>Pas trouvé :'-(</td>
  </tr>
  {% endfor %}
</table>

  <script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("globalTable");
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (Number(x.innerHTML) > Number(y.innerHTML)) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (Number(x.innerHTML) < Number(y.innerHTML)) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  </script>

  <p>But also add new data :</p>
<ul>
    <li><a href="{{ url('add_corporate') }}">Add a new compagny</a></li>
    <li><a href="{{ url('add_shareholding') }}">Add new links between companies</a></li>
    <li><a href="{{ url('add_documentDeReference') }}">Add new data from financial documents published by a company</a></li>
</ul>
<p>If you’re interested in other functionalities and info, please check our <a href="https://github.com/leonarf/OpenCorporateFacts">github repo</a> to see if they’re part of what is under current or programmed development, and make technical coding suggestions there.</p>

<h2>Contact us</h2>
<p>If you want to contribute, ask questions, provide tips or objections… regarding the data and its use, please contact us.
Code questions should go to our <a href="https://github.com/leonarf/OpenCorporateFacts">github</a>.
Please restrain to discussions and public data, DO NOT provide private or privileged information as this is not a secure connection and your actions can be monitored.</p>
</div>
{% endblock %}
