{% extends 'base.html.twig' %}

{% block title %}Here you can choose what you want to do!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to OpenCorporateFacts</h1>
    <p>On this page, you can select the corporation that you want to see data:
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        </p>
    <p>But also add new data :</p>
<ul>
    <li><a href="{{ url('add_corporate') }}">Add a new corporate</a></li>
    <li><a href="{{ url('add_compte_de_resultat') }}">Add a new Compte de résultat to an existing corporate</a></li>
    <li><a href="{{ url('add_shareholding') }}">Add a new shareholding link between two corporates</a></li>
    <li><a href="{{ url('add_documentDeReference') }}">Add new data from a "Document de référence" published by a corporation</a></li>
</ul>
</div>
{% endblock %}
