{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello vous ajoutez un lien d'actionnariat! ✅</h1>
    <a href="{{ url('homepage') }}">Retour à l'accueil</a>

        {{ form_start(ShareholdingForm) }}
        {{ form_widget(ShareholdingForm) }}
        {{ form_end(ShareholdingForm) }}

</div>
{% endblock %}
