<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}OCF{% endblock %}</title>
    {% block stylesheets %}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
              {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}

    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"/>  
    <link href="{{ asset('css/base.css') }}" rel="stylesheet" >
</head>
    
<body>

<header>
    <nav>
        <ul>
            <li>
                <a href="{{ url('homepage') }}">
                    OpenCorporateFacts
                </a>
            </li>
            <li>
                <a href="{{ url('homepage') }}">
                    Accueil
                </a>
            </li>
            <li>
                <a href="{{ url('add_corporate') }}">
                    + Company
                </a>
            </li>
            <li>
                <a href="{{ url('add_shareholding') }}">
                    + Link
                </a>
            </li>
            <li>
                <a href="{{ url('add_documentDeReference') }}">
                    + Financial doc
                </a>
            </li>
        </ul>
    </nav>
</header>

{% block body %}
{% endblock %}

<div class="contactbox">   
        
    <div class="rocketchat">
        <div class="rocketchatlien"><a  href="https://chat.codefor.fr/channel/opencorporatefacts"><strong>RocketChat</strong>
        <p>Viens échanger avec nous sur le cannal #opencorporatefacts du chat Code for France.</p></a></div>
    </div>
        
    <div class="github">
        <div class="githublien"><a href="https://github.com/leonarf/OpenCorporateFacts"><strong>Github</strong>
        <p>Explore le dépôt de code du projet sur Github et contribue !</p></a></div>
    </div>
        
    <div class="api">
        <div class="apilien"><a href="http://opencorporatefacts.fr/api"><strong>API</strong>
        <p>Télécharge les données d'Open Corporate Facts grâce à l'API.</p></a></div>
    </div>
</div> 
    
{% block javascripts %}
  {{ encore_entry_script_tags('app') }}

  <!-- Renders app.js & a webpack runtime.js file
      <script src="/build/runtime.js"></script>
      <script src="/build/app.js"></script> -->
{% endblock %}
</body>
</html>
